$background-color: #141414;
$card-background-color: #1F1F1F;
$text-color: #FFFFFF;
$highlight-color: #C4F82A;
$button-background-color: #333333;
$button-hover-background-color: $highlight-color;
$button-hover-text-color: $button-background-color;